div.content {
	border: 1px solid dimgrey;
	margin-top: 20pt;
	margin-left: auto;
	margin-right: auto;
	width:700pt;
	background-color: white;
	padding: 20pt;
}

body {
	background-color: lightgrey;
	font-size: 10pt;
	font-family: sans-serif;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
}

td {
	font-size: 10pt;
}

h1 {
	font-size: 10pt;
	font-weight: bold;
	color: #A66A00;
	width:100%;
	border-bottom:1px solid #A66A00;
	margin-bottom: 5pt;
}

h2 {
	font-size: 10pt;
	font-weight: bold;
	color: dimgrey;
	width:100%;
	border-bottom:1px solid lightgrey;
	margin-bottom: 2pt;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	color: black;
}

input[type="text"] {
	border: 1px solid dimgrey;
	background-color: white;
}

input[type="text"]:focus {
	border: 1px solid #A66A00;
	background-color: white;
	box-shadow: inset -6px 0px 0 0px #FFA200;
	outline: none;
}
select {
	border: 1px solid dimgrey;
	background-color: white;
}

select:focus {
	border: 1px solid #A66A00;
	outline: none;
}

input[type="submit"] {
	border: 1px solid #A66A00;
	background-color: #FFA200;
}

input[type="button"] {
	border: 1px solid #A66A00;
	background-color: #FFA200;
}

.button_close {
	border: 1px solid #A66A00;
	background-color: #FFA200;
	width:12pt;
	height:12pt;
	text-align:center;
	display:inline-block;
	cursor:default;
	vertical-align:middle;
	text-align:center;
	font-size:10pt;
	color:black;
	font-weight:bold;
}

div.course {
	background-color: white;
	border: 1px solid #A66A00;
	margin-bottom: 5pt;
	padding:5pt;
}

div.event {
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 5pt;
	display: block;
}

div.course_head {
	background-color: #FFCC73;
	border: none;
	text-align: right;
	padding: 2pt;
}

div.error {
	border: 1px solid darkred;
	background-color: salmon;
	color: darkred;
	font-weight: bold;
	width: 100%;
	padding:5pt;
	margin-left:-5pt;
	margin-right:-5pt;
	margin-bottom: 5pt;
}

.fade {
	animation:show 2s;
	-moz-animation:show 2s;
	-webkit-animation:show 2s;
	-o-animation:show 2s;
}

.remove {
	animation:remove 0.5s;
	-moz-animation:remove 0.5s;
	-webkit-animation:remove 0.5s;
	-o-animation:remove 0.5s;
	border: 1px solid lightgrey;
	opacity: 0;
	max-height: 0pt;
	overflow: hidden;
}

.visible {
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 5pt;
	opacity: 1;
	display: block;
	max-height: 5000pt;
	animation:show 2s;
	-moz-animation:show 2s;
	-webkit-animation:show 2s;
	-o-animation:show 2s;
}

@keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@-moz-keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@-webkit-keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@-o-keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}

@-moz-keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}

@-webkit-keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}

@-o-keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}
