div.content {
	border: none;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	width:96%;
	background-color: white;
}

body {
	background-color: white;
	font-size: 20pt;
	font-family: sans-serif;
}

td {
	font-size: 10pt;
}

h1 {
	font-size: 10pt;
	font-weight: bold;
	color: #005502;
	width:100%;
	border-bottom:1px solid #005502;
	margin-bottom: 5pt;
}

h2 {
	font-size: 10pt;
	font-weight: bold;
	color: dimgrey;
	width:100%;
	border-bottom:1px solid lightgrey;
	margin-bottom: 2pt;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	color: black;
}

input[type="text"] {
	border: 1px solid dimgrey;
	background-color: white;
}

input[type="text"]:focus {
	border: 1px solid #005502;
	background-color: white;
	box-shadow: inset -6px 0px 0 0px #005A04;
	outline: none;
}
select {
	border: 1px solid dimgrey;
	background-color: white;
}

select:focus {
	border: 1px solid #005502;
	outline: none;
}

input[type="submit"] {
	border: 1px solid dimgrey;
	background-color: #D1D1D1;
	background-size: 3px 3px;
	-moz-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	-webkit-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	-o-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	box-shadow:inset 0px 0px 8px 3px rgba(0,0,0,0.05);
	color:black;
	padding:3pt;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
	background-color: #E4E4E4;
}

input[type="button"] {
	border: 1px solid dimgrey;
	background-color: #D1D1D1;
	background-size: 3px 3px;
	-moz-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	-webkit-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	-o-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	box-shadow:inset 0px 0px 8px 3px rgba(0,0,0,0.05);
	color:black;
	padding:3pt;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
}

input[type="button"]:hover {
	background-color: #E4E4E4;
}

.button_close {
	border: 1px solid #005502;
	background-color: #005A04;
	width:12pt;
	height:12pt;
	text-align:center;
	display:inline-block;
	cursor:default;
	vertical-align:middle;
	text-align:center;
	font-size:10pt;
	color:white;
	font-weight:bold;
}

div.course {
	background-color: white;
	border: 1px solid #005502;
	margin-bottom: 5pt;
	padding:5pt;
}

div.event {
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 5pt;
	display: block;
}

div.course_head {
	border: none;
	text-align: right;
	padding: 2pt;
	background-color: #CCFFBB;
	background-image: linear-gradient(transparent 50%, rgba(0,0,0,0.1) 50%);
	background-image: -webkit-linear-gradient(transparent 50%, rgba(0,0,0,0.1) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(0,0,0,0.1) 50%);
	background-image: -o-linear-gradient(transparent 50%, rgba(0,0,0,0.1) 50%);
	background-size: 3px 3px;
	-moz-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	-webkit-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	-o-box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
	box-shadow:inset -20px -10px 20px 10px rgba(0,91,4,0.6);
}

div.error {
	border: 1px solid darkred;
	background-color: salmon;
	color: darkred;
	font-weight: bold;
	width: 100%;
	padding:5pt;
	margin-left:-5pt;
	margin-right:-5pt;
	margin-bottom: 5pt;
}

.fade {
	animation:show 2s;
	-moz-animation:show 2s;
	-webkit-animation:show 2s;
	-o-animation:show 2s;
}

.remove {
	animation:remove 0.5s;
	-moz-animation:remove 0.5s;
	-webkit-animation:remove 0.5s;
	-o-animation:remove 0.5s;
	border: 1px solid lightgrey;
	opacity: 0;
	max-height: 0pt;
	overflow: hidden;
}

.visible {
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 5pt;
	opacity: 1;
	display: block;
	max-height: 5000pt;
	animation:show 2s;
	-moz-animation:show 2s;
	-webkit-animation:show 2s;
	-o-animation:show 2s;
}

@keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@-moz-keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@-webkit-keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@-o-keyframes show
{
0%   {opacity: 0; max-height: 0pt;}
100% {opacity: 1; max-height: 5000pt;}
}

@keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}

@-moz-keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}

@-webkit-keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}

@-o-keyframes remove
{
0%   {opacity: 1; max-height: 200pt;}
100% {opacity: 0; max-height: 0pt;}
}
